* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
}


/*Menu nawigacyjne / Start*/

#main-nav {
	position: fixed;
	text-align: right;
	width: 100%;
	background-color: white;
	z-index: 30;
	top: -5px;
	margin: 0;
}

li {
	font-family: Lato;
	padding: 0px 30px 0px 30px;
	text-decoration: none;
	display: inline-block;
	margin: 0;
}

li a {
	text-decoration: none;
	color: #1ac056;
}


/*Menu nawigacyjne / Koniec*/

#main-header {
	background-image: url(/img/header-background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	height: 90vh;
}

#main-header > #header-content {
	font-family: 'Roboto';
	position: absolute;
	top: 40%;
	right: 0;
	margin: auto;
	width: 50%;
	text-align: center;
	transform: translate(-50%);
}

#main-header > #header-content > h1 {
	font-family: 'Lato';
	font-weight: bold;
	font-size: 6em;
	color: white;
	font-weight: lighter;
}

#main-header > #header-content > h2 {
	font-family: 'Roboto';
	font-weight: 100;
	color: white;
}

#about figure {
	text-align: center;
	margin: 0;
}

#about {
	width: 100%;
	text-align: center;
}

#about img {
	width: 100%;
	max-width: 260px;
	border: 20px solid beige;
	border-radius: 20px;
	float: left;
}

#about div {
	width: 60%;
	border: 20px solid beige;
	height: 280px;
	overflow: auto;
}

h2 {
	font-weight: 100;
	text-align: center;
}

.slowo {
	color: lime;
	font-family: 'Lato';
	font-weight: bold;
}

.ikonka >img {
	display: inline-block;
}

#skillsphoto {
	text-align: center;
}

#skillsphoto > figure {
	display: inline-block;
	width: 20%;
	text-align: center;
	margin: 0;
}

#portfolio-item1 {
	background-image: url(/img/portfolio1.jpg);
}

#portfolio-item2 {
	background-image: url(/img/portfolio2.jpg);
}

#portfolio-item3 {
	background-image: url(/img/portfolio3.jpg);
}

.portfolio-item {
	display: inline-block;
	width: 33%;
	height: auto;
	background-size: cover;
	background-position: center;
}

.portfolio-item > .portfolio-item-mask {
	width: 95%;
}

#contact {
	background-color: darkslateblue;
	color: white;
	padding: 50px;
}